 body {
            background-color: FloralWhite;
            }
            hr {
            border-style: none;
            border-top-style: solid;
            border-color: FireBrick;
            border-width: 5px;
            width: 100%;
            }
            h1 {
            color: FireBrick;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            }
            h2 {
            color: FireBrick;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            }
            h3 {
            color: FireBrick;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            }
            li {
            color: FireBrick;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            }
            p {
            color: FireBrick;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            }
            img {
            padding-top: 20px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            }
            ul.no-bullets {
            list-style-type: none; /* Remove bullets */
            padding: 0; /* Remove padding */
            margin: 0; /* Remove margins */
            }